@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 5rem;
  color: whitesmoke;
  font-family: 'Heebo', sans-serif;
}

h3 {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  color: rgb(210, 199, 188);
}

.welcome {
  color: rgb(210, 199, 188);
  font-size: 4.5rem;
  text-align: left;
}

.app:before {
  content: '';
  background: url('https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fHNreXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1100&q=60')
    no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: right;
  padding-top: 3rem;
  padding-right: 4rem;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  color: #f8f8f8;
  border-radius: 25px;
  border: none;
  background-color: rgba(240, 255, 255, 0.2);
}

::placeholder {
  color: #f8f8f8;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
  margin-top: 1rem;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  color: #ffffff;
}
.temp {
  font-size: 7rem;
  text-align: center;
  color: rgb(210, 199, 188);
  margin: -30px;
}
.description p {
  color: rgb(170, 211, 228);
  font-family: 'Heebo', sans-serif;
  font-size: 2.5rem;
}

@media screen and (max-width: 550px) {
  .app {
    min-width: 340px;
  }
  .location h1 {
    font-size: 3.25rem;
    font-variant-caps: small-caps;
    text-align: left;
    color: whitesmoke;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  h2 {
    font-size: 9rem;
    text-align: center;
    color: #ffffff;
  }

  h3 {
    font-size: 0.8rem;
    /* font-weight: 300; */
  }
  .welcome {
    color: rgb(210, 199, 188);

    font-size: 2rem;
    text-align: center;
  }

  .app .search {
    text-align: center;
    padding: 1rem;
  }

  .app input {
    text-align: center;
    padding: 0.7rem 1.5rem;
    font-size: 0.9rem;
  }

  .app .top {
    width: 100%;
    height: 50%;
    margin: 1rem auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .app .description p {
    font-family: 'Heebo', sans-serif;
    color: rgb(170, 211, 228);
    right: -90%;
    transform-origin: 0 0;
    transform: rotate(269deg);
    font-size: 2.8rem;
    margin-top: -4rem;
    text-align: center;
  }
  .app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 75%;
    margin: -8rem auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 25px;
    border: none;
    background-color: #384b5cc5;
  }
  .temp,
  h2 {
    padding-left: 2rem;
    font-size: 8rem;
    font-weight: 200;
    text-align: center;
    color: rgb(210, 199, 188);
    text-align: center;
  }
  p {
    color: rgb(170, 211, 228);
    font-size: 1rem;
  }
}
